

// Fonts
$sans-serif: "proxima-nova", sans-serif;
$serif: "adobe-garamond-pro", serif;

// Colors

$white: #ffffff;

$grey-dark: #333333;

$cream: #faf2e5;
$cream-dark: #edddcd;

$brown: #756857;

$red: #6d3d33;
$red-light: #72433b;

$orange: #dcb483;

$green: #8ba19e;
$green-light: #a9b5b5;

$gold: #dbb483;
